html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

body {
    color: #000;
    font-family: "Open Sans",Arial,sans-serif;
    background: linear-gradient(darkcyan, #fff);
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 1.7em;
}

.banner {
    background-image: url("img/verduras.jpg");
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: left;
}

.banner h1 {
    margin:auto;
    line-height:50px;
    vertical-align:middle;
    color: #fff;
}

nav{
    background-color: #4ce9c765;
}

#initialmenu {
    padding:0;
    height: 40px;
}

#initialmenu li {
    display: inline;
}

#initialmenu li a{
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    color: #fff;
}

#initialmenu li a:hover {
    background-color: #111;
}

.buttoncontainer{
    height: 50px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#videocontrol{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.row {
    margin: auto;
    width: 70%;
}

.leftcolumn {
    display:table-cell;
}

.rightcolumn {
    display:table-cell;
    padding-left: 20px;
}

.profile {
    background-image: url("img/brocoli.png");
    background-position: center;
    background-repeat: no-repeat;
    height:150px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

#youtubevideo {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

footer {
    margin-top: 20px;
    text-align: center;
}